<form (ngSubmit)="login(form)" [formGroup]="form">
  <div class="col center">
    <div class="row">
      <app-input
        class="input"
        formControlName="email"
        [type]="'email'"
        [placeholder]="'Email'"
        [isRequired]="true"
        [icon]="'fas fa-envelope'"
      ></app-input>
    </div>
    <div class="row">
      <app-input
        class="input"
        formControlName="password"
        [type]="'password'"
        [placeholder]="'Password'"
        [isRequired]="true"
        [icon]="'fas fa-lock    '"
      ></app-input>
    </div>
    <button class="btn btn-primary signInBtn" type="submit" [disabled]="!form.valid">Sign In</button>
  </div>
</form>
