.center {
    margin-left: 0;
    width: 30%;
    padding: 1%;
  }
.input{
    width: 200%;
    height: 50%;
    padding: 10px;
}
.signInBtn{
    position: absolute;
    left: 50%;
    margin-left: -50px;
}
.artistcard{
    padding: 5%;
    margin: auto;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card h5{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.actionBtn{
    margin-left: 50px;
}
.detailsBtn{
    margin-right: 50px;
}
  