.center {
    margin-left: 0;
    width: 30%;
    padding: 5%;
  }
.input{
    width: 200%;
    height: 50%;
    padding: 10px;
}
.signInBtn{
    position: absolute;
    left: 50%;
    margin-left: -50px;
}
  