<form (ngSubmit)="search(form)" [formGroup]="form">
  <div class="col center">
    <div class="row">
      <app-input
        class="input"
        formControlName="artisteName"
        [type]="'text'"
        [placeholder]="'Artiste name'"
        [icon]="'fas fa-search'"
      ></app-input>
    </div>
      <button
        class="btn btn-primary signInBtn"
        type="submit"
        [disabled]="!form.valid"
      >
        Search
      </button>
  </div>
</form>
  <div *ngIf="artist" class="col center">
  <div class="card" style="width: 18rem;">
    <img [src]="artist.image" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{artist.name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
