<div class="container">
  <div class="row">
    <form (ngSubmit)="search(form)" [formGroup]="form">
      <div class="col">
        <app-input
          class="input"
          formControlName="artisteName"
          [type]="'text'"
          [placeholder]="'Artiste name'"
          [icon]="'fas fa-search'"
        ></app-input>
        <div class="alert alert-danger" *ngIf="error">
          {{ error }}
        </div>
        <button
          class="btn btn-primary signInBtn"
          type="submit"
          [disabled]="!form.valid"
        >
          Search
        </button>
      </div>
    </form>
  </div>
  <div class="row">
    <div *ngIf="artist" class="col artistcard">
      <div class="card" style="width: 20rem;">
        <img [src]="artist.image" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">{{ artist.name }}</h5>
          <a href="#" class="btn btn-primary detailsBtn">Details</a>
          <span *ngIf="artistService.containsArtist(artist); else newArtist">
            <a class="btn btn-danger actionBtn" (click)="removeArtist()"
              >Remove</a
            >
          </span>
          <ng-template #newArtist>
            <a class="btn btn-primary actionBtn" (click)="addToList()"
              >Add to list</a
            >
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
